<div class="col-md-8 blog-main">
  <%= paginate @blogs, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"  %>
  <%= render @blogs %>
  <%= paginate @blogs, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"  %>
</div>
<!-- /.blog-main -->
