<footer class="mastfoot mt-auto">
  <div class="inner">
    <p class="footer-paragraph">Portfolio build with <i class="fa fa-heart"></i> by me </p>
    <div class="footer-links">
      <a href="https://github.com/chrisnopa/"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/christophepanon/"><i class="fa fa-linkedin fa-2x"></i></a>
    </div>
  </div>
</footer>
