<div class="blog-header">
  <div class="container blog-title">
    <h1 class="display-4">My Blog</h1>
    <p class="lead my-3">Some articles, about code, photo and some othe random stuff</p>
    <% if logged_in?(:site_admin)  %>
      <div class="blog-buttons">
        <h5><%= link_to 'Write a new blog post', new_blog_path, class:"btn-medium" %></h5>
        <h5><%= link_to 'Topics', topics_path, class:"btn-medium"%></h5>
        <h5> <%= link_to 'Back', blogs_path, class:"btn-medium"%></h5>
      </div>
  <% end %>
  </div>
</div>
