<footer class="blog-footer">
  <p>Portfolio build with love by me </p>

    <div class="footer-links">
      <a href="#"><i class="fa fa-github"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>
  </footer>
