
<nav class="blog-nav-perso navbar navbar-expand-md navbar-light bg-light fixed-top">
  <%= link_to "Christophe Panon", root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
     <ul class="navbar-nav mr-auto">
       <%= navbar_helper 'nav-link', 'span' %>
   <%= login_helper 'nav-link' %>
     </ul>
 </div>
  </div>
</nav>
