<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">About my work</h4>
        <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long.</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <ul class="list-unstyled">
          <%= navbar_helper 'text-white', 'li' %>
          <li class='text-white'><%= login_helper%></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-dark bg-dark box-shadow">
  <div class="container d-flex justify-content-between">
    <%= link_to 'Christophe Panon', root_path, class:"navbar-brand d-flex align-items-center"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
</div>
