<h3> About me  </h3>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag 'profile-pictures/chris-alumni.jpg', width:200, alt:"profile image", style: "border-radius:50%" %>
    </div>
    <div class="col-sm-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus accusantium veniam laudantium excepturi autem cum nisi non voluptates doloremque dolores. Earum voluptatum quam velit, accusantium quae. Facilis consequuntur molestiae incidunt.</p>
    </div>
  </div>
</div>
