<div class="container-fluid cv-container">
  <div class="row">
    <div class="col-lg-6 col-md-6 profile section-padding">
      <div class="name-wrapper">
        <h1>Christophe Panon</h1>
        <!-- YOUR NAME AND LAST NAME  -->
      </div>
      <%= image_tag 'profile-pictures/chris-alumni.jpg', width:300, alt:"profile image", style: "border-radius:50%", class:'img-fluid profile-picture'%>
      <div class="about-text">
        <main class="bio-sidebar">
          <input id="tab1" type="radio" name="tabs" checked>
          <label for="tab1">About me</label>
          <input id="tab2" type="radio" name="tabs">
          <label for="tab2">Project management</label>
          <input id="tab3" type="radio" name="tabs">
          <label for="tab3">Communication</label>
          <input id="tab4" type="radio" name="tabs">
          <label for="tab4">Web development</label>
          <section id="content1">
            <p class="bio-items">
              Experienced in Ruby on Rails, HTML, CSS and Javascript. Spent one year abroad training my Spanish and living a teacher experience. Eager to continue developing my skills in programming and UX as a junior fullstack web developer.
            </p>
          </section>
          <section id="content2">
            <p class="bio-items">
              Acquired consulting skills working as a project manager. My goal was to understand and challenge the clients' needs, suggest solutions, and develop the final product that would help him prioritize its assets. More infos on my <strong><a href="https://www.linkedin.com/in/christophepanon/">Linkedin account</a>.</strong>
            </p>
          </section>
          <section id="content3">
            <p class="bio-items">
              Fluent in English and getting better in Spanish, that I practice on a daily basis. French is my native language. I also studied Arabic for two years during my University studies.
            </p>
          </section>
          <section id="content4">
            <p class="bio-items">
              Knowledgeable in Ruby on Rails, HTML/CSS, Javascript, Git/Github and Heroku for deployment. Currently self-learning React.js.
            </p>
          </section>
        </main>
      </div>
      <div class="section-wrapper clearfix">
        <h3 class="education-title"><i class="fa fa-briefcase job-icon"></i>Education</h3>

        <div class="experience-wrapper">
          <div class="resume-item" itemscope="" itemprop="worksFor" itemtype="http://schema.org/Organization">
            <h4 class="resume-item-title" itemprop="name">Le Wagon (Paris, France)</h4>
            <p class="resume-item-details" itemprop="description">Full Stack web developer student • Apr, 2017 — Jun, 2017</p>
            <p class="resume-item-copy"><b>Ranked 1st Full-Stack Web Development bootcamp in the world - SwitchUp (2017)</b> </p>
            <p>Learned Ruby on Rails, Node.js, and best practices for a tested and readable code with Javascript, HTML, CSS</p>
            <p>Worked within teams and collaborated with Git and GitHub</p>
            <p>Deployed applications through Heroku and consumed Google Maps and GlobalFetch APIs</p>
            <p>Designed, implemented, and shipped in production a prototype of cosilver.fr, a marketplace that makes it easy for senior people to rent a house/flat with other seniors</p>
          </div>

        </div>
        <!-- YOUR SET OF SKILLS  -->
      </div>
    </div>
    <div class="col-lg-6 col-md-6 experience section-padding">
      <h3 class="experience-title"><i class="fa fa-briefcase job-icon"></i>Experience</h3>
      <div class="experience-wrapper">
        <div class="company-wrapper clearfix">
          <div class="experience-title">Liceo Frances</div>
          <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">Aug, 2017 - Aug, 2018</div>
          <!-- THE TIME YOU WORK WITH THE COMPANY  -->
        </div>
        <div class="job-wrapper clearfix">
          <div class="experience-title">Teacher</div>
          <!-- JOB TITLE  -->
          <div class="company-description">
            <p>Teacher in History and Economics in El Liceo Frances de San Salvador</p>
            <!-- JOB DESCRIPTION  -->
          </div>
        </div>
        <div class="company-wrapper clearfix">
          <div class="experience-title">CNRS</div>
          <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">Jan, 2016 — Dec, 2016</div>
          <!-- THE TIME YOU WORK WITH THE COMPANY  -->
        </div>
        <div class="job-wrapper clearfix">
          <div class="experience-title">Numeric projects Manager</div>
          <!-- JOB TITLE  -->
          <div class="company-description">
            <p>Head of creation of institutional sites and communication
            </p>
            <ul>
              <li>
                Coordinator for the CNRS intranet redesign
              </li>
              <li>
                Editorial manager and project manager on the redesign of the Human Resources site of CNRS
              </li>
            </ul>
            <!-- JOB DESCRIPTION  -->
          </div>
        </div>
        <div class="company-wrapper clearfix">
          <div class="experience-title">Libraries Without Borders</div>
          <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">2015 — 2016</div>
          <!-- THE TIME YOU WORK WITH THE COMPANY  -->
        </div>
        <div class="job-wrapper clearfix">
          <div class="experience-title">BSF CAMPUS Manager</div>
          <!-- JOB TITLE  -->
          <div class="company-description">
            <ul>
              <li>
                Creation of the information architecture of the BSF Campus platform
              </li>
              <li>
                Management of content's production (videos, exercises) on the platform
                Supervision of the upload of content on both platform and Youtube channel
              </li>
              <li>
                Creation of graphic elements for the project (generic) and capitalization theory for community management and the creation of future BSF Mooc's
              </li>
            </ul>
            <!-- JOB DESCRIPTION  -->
          </div>
        </div>
      </div>
      <!--Skill experience-->
      <div class="section-wrapper clearfix">
        <h3 class="section-title"><i class="fa fa-code job-icon"></i>Skills</h3>
        <!-- YOUR SET OF SKILLS  -->
        <ul>
          <li class="skill-percentage">Ruby on Rails</li>
          <li class="skill-percentage">HTML / HTML5</li>
          <li class="skill-percentage">CSS / CSS3 / SASS / LESS</li>
          <li class="skill-percentage">Javascript</li>
          <li class="skill-percentage">React</li>
          <li class="skill-percentage">Jquery</li>
          <li class="skill-percentage">Heroku / AWS </li>
        </ul>
      </div>

    </div>
  </div>
</div>
