



<hr>
<div class="container-fluid cv-container">
  <div class="row">
    <div class="col-lg-4 col-md-6 profile section-padding">
      <div class="name-wrapper">
        <h1>Christophe Panon</h1>
        <!-- YOUR NAME AND LAST NAME  -->
      </div>
      <%= image_tag 'profile-pictures/chris-alumni.jpg', width:300, alt:"profile image", style: "border-radius:50%", class:'img-fluid profile-picture'%>
      <div class="about-text">
        <h3 class="about-me-border"> About me  </h3>
        <p class="vertical-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus accusantium veniam laudantium excepturi autem cum nisi non voluptates doloremque dolores. Earum voluptatum quam velit, accusantium quae. Facilis consequuntur molestiae incidunt.</p>
      </div>

      <div class="contact-info clearfix">
        <ul class="list-titles">
          <li>Call</li>
          <li>Mail</li>
          <li>Web</li>
          <li>Home</li>
        </ul>
        <ul class="list-content ">
          <li>+34 123 456 789</li>
          <!-- YOUR PHONE NUMBER  -->
          <li>j.anderson@gmail.com</li>
          <!-- YOUR EMAIL -->
          <li><a href="#">janderson.com</a></li>
          <!-- YOUR WEBSITE  -->
          <li>Los Angeles, CA</li>
          <!-- YOUR STATE AND COUNTRY  -->
        </ul>
      </div>
    </div>
    <div class="col-lg-8 col-md-6 experience section-padding">
      <h3 class="experience-title">Experience</h3>
      <div class="experience-wrapper">
        <div class="company-wrapper clearfix">
          <div class="experience-title">Company name</div>
          <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">Nov 2012 - Present</div>
          <!-- THE TIME YOU WORK WITH THE COMPANY  -->
        </div>
        <div class="job-wrapper clearfix">
          <div class="experience-title">Front End Developer </div>
          <!-- JOB TITLE  -->
          <div class="company-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit facilisis, adipiscing leo in, dignissim magna.</p>
            <!-- JOB DESCRIPTION  -->
          </div>
        </div>
        <div class="company-wrapper clearfix">
          <div class="experience-title">Company name</div>
          <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">Nov 2010 - Present</div>
          <!-- THE TIME YOU WORK WITH THE COMPANY  -->
        </div>
        <div class="job-wrapper clearfix">
          <div class="experience-title">Freelance, Web Designer / Web Developer</div>
          <!-- JOB TITLE  -->
          <div class="company-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit facilisis, adipiscing leo in, dignissim magna.</p>
            <!-- JOB DESCRIPTION  -->
          </div>
        </div>
        <div class="company-wrapper clearfix">
          <div class="experience-title">Company name</div>
          <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">Nov 2009 - Nov 2010</div>
          <!-- THE TIME YOU WORK WITH THE COMPANY  -->
        </div>
        <div class="job-wrapper clearfix">
          <div class="experience-title">Web Designer </div>
          <!-- JOB TITLE  -->
          <div class="company-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit facilisis, adipiscing leo in, dignissim magna.</p>
            <!-- JOB DESCRIPTION  -->
          </div>
        </div>
      </div>
      <!--Skill experience-->
      <div class="section-wrapper clearfix">
        <h3 class="section-title">Skills</h3>
        <!-- YOUR SET OF SKILLS  -->
        <ul>
          <li class="skill-percentage">Ruby on Rails</li>
          <li class="skill-percentage">HTML / HTML5</li>
          <li class="skill-percentage">CSS / CSS3 / SASS / LESS</li>
          <li class="skill-percentage">Javascript</li>
          <li class="skill-percentage">Jquery</li>
        </ul>
      </div>
    </div>
  </div>
</div>
