<div class="container-fluid cv-container">
  <div class="row">
    <div class="col-lg-6 col-md-6 profile section-padding">
      <div class="name-wrapper">
        <h1>Christophe Panon</h1>
        <!-- YOUR NAME AND LAST NAME  -->
      </div>
      <%= image_tag 'profile-pictures/chris-alumni.jpg', width:300, alt:"profile image", style: "border-radius:50%", class:'img-fluid profile-picture'%>
      <div class="about-text">
        <main class="bio-sidebar">
          <input id="tab1" type="radio" name="tabs" checked>
          <label for="tab1">About me</label>
          <input id="tab2" type="radio" name="tabs">
          <label for="tab2">Project management</label>
          <input id="tab3" type="radio" name="tabs">
          <label for="tab3">Communication</label>
          <input id="tab4" type="radio" name="tabs">
          <label for="tab4">UX Design</label>
          <section id="content1">
            <p class="bio-items">
              Experienced in Ruby on Rails, HTML, CSS and Javascript. Spent one year abroad training my Spanish and living a teacher experience. Eager to continue developing my skills in programming and UX as a junior fullstack web developer.
            </p>
          </section>
          <section id="content2">
            <p class="bio-items">
              Acquired consulting skills working as a project manager. My goal was to understand and challenge the clients' needs, suggest solutions, and develop the final product that would help him prioritize its assets. More infos on my <strong><a href="https://www.linkedin.com/in/christophepanon/">Linkedin account</a>.</strong>
            </p>
          </section>
          <section id="content3">
            <p class="bio-items">
              Fluent in English and getting better in Spanish, that I practice on a daily basis. French is my native language. I also studied Arabic for two years during my University studies.
            </p>
          </section>
          <section id="content4">
            <p class="bio-items">
              Notions of UX Design and information architecture.
            </p>
          </section>
        </main>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 experience section-padding">
      <h3 class="experience-title"><i class="fa fa-briefcase job-icon"></i>Experience</h3>
      <div class="experience-wrapper">
        <div class="company-wrapper clearfix">
          <div class="experience-title">Company name</div>
          <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">Nov 2012 - Present</div>
          <!-- THE TIME YOU WORK WITH THE COMPANY  -->
        </div>
        <div class="job-wrapper clearfix">
          <div class="experience-title">Front End Developer </div>
          <!-- JOB TITLE  -->
          <div class="company-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit facilisis, adipiscing leo in, dignissim magna.</p>
            <!-- JOB DESCRIPTION  -->
          </div>
        </div>
        <div class="company-wrapper clearfix">
          <div class="experience-title">Company name</div>
          <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">Nov 2010 - Present</div>
          <!-- THE TIME YOU WORK WITH THE COMPANY  -->
        </div>
        <div class="job-wrapper clearfix">
          <div class="experience-title">Freelance, Web Designer / Web Developer</div>
          <!-- JOB TITLE  -->
          <div class="company-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit facilisis, adipiscing leo in, dignissim magna.</p>
            <!-- JOB DESCRIPTION  -->
          </div>
        </div>
        <div class="company-wrapper clearfix">
          <div class="experience-title">Company name</div>
          <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">Nov 2009 - Nov 2010</div>
          <!-- THE TIME YOU WORK WITH THE COMPANY  -->
        </div>
        <div class="job-wrapper clearfix">
          <div class="experience-title">Web Designer </div>
          <!-- JOB TITLE  -->
          <div class="company-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit facilisis, adipiscing leo in, dignissim magna.</p>
            <!-- JOB DESCRIPTION  -->
          </div>
        </div>
      </div>
      <!--Skill experience-->
      <div class="section-wrapper clearfix">
        <h3 class="section-title"><i class="fa fa-code job-icon"></i>Skills</h3>
        <!-- YOUR SET OF SKILLS  -->
        <ul>
          <li class="skill-percentage">Ruby on Rails</li>
          <li class="skill-percentage">HTML / HTML5</li>
          <li class="skill-percentage">CSS / CSS3 / SASS / LESS</li>
          <li class="skill-percentage">Javascript</li>
          <li class="skill-percentage">React</li>
          <li class="skill-percentage">Jquery</li>
          <li class="skill-percentage">Heroku / AWS </li>
        </ul>
      </div>
    </div>
  </div>
</div>
