<div class="container contact-page-style">
  <div class="row">
    <div class="col-md-6 contact-block">
      <h3>Work together</h3>
      <br><hr>
      <h4><i class="fa fa-phone"></i></i>Phone number</h4>
      <p>+33 6 63 06 15 88 </p>
      <h4><i class="fa fa-envelope"></i> Email</h4>
      <p><a href="mailto: chrispanon@gmail.com?subject=PortfolioContact" "Email me">Email me</a></p>
    </div>
    <div class="col-md-6 map-responsive">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3876.7066269522584!2d-89.27769188537984!3d13.675594690396805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f632e51ff2e8595%3A0x98ed347c74ccc135!2sLiceo+Franc%C3%A9s+de+San+Salvador!5e0!3m2!1ses-419!2ssv!4v1527805855418" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
