<div class="container contact-page-style">
  <div class="row">
    <div class="col-md-6 contact-block">
      <h3>Work together</h3>
      <div class="hr"></div>
      <div class="contact-list">
        <ul class="list fa-ul">
          <li>
            <h4><i class="fa-li fa fa-phone"></i></i>Phone number</h4>
            <p>+33 6 63 06 15 88 </p>
          </li>
          <li>
            <h4><i class="fa-li fa fa-envelope"></i> Email</h4>
            <p><a href="mailto: chrispanon@gmail.com?subject=PortfolioContact" "Email me">Email me!</a></p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 map-responsive">
      <iframe src=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42997.99679391502!2d-2.7835787493784325!3d47.65771490864145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48101e84c37de291%3A0xb9f358307b233d13!2sVannes!5e0!3m2!1sfr!2sfr!4v1533672057441" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
