<main role="main" class="inner cover">
  <h1 class="cover-heading">Christophe Panon, Fullstack Developper</h1>
  <p class="lead">Experienced in Ruby on Rails, HTML, CSS and Javascript. Currently abroad training my Spanish and living a teacher experience. Eager to continue developing my skills in programming and UX as a junior fullstack web developer.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class:'btn btn-lg btn-secondary' %>
  </p>
</main>
