<main role="main" class="inner cover">
  <h1 class="cover-heading">Christophe Panon, Fullstack Developer</h1>
  <p class="lead"><span class="element"></span></p>
  <p class="lead2">
    <%= link_to "About Me", about_me_path, class:'btn btn-lg btn-secondary btn-home' %>
  </p>
</main>
