// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "font-awesome";
@import "gritter";

body {
  background-color: #F4F4F4;
  font-family: 'Lato', sans-serif;

  & a {
    color:#212529;
  }
}

.row {
  margin-top:6rem
}
.bottom a {
  color: white;
}
/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  margin-top:7rem;
}


.display-4 {
  font-size: 2.5rem;
  border-bottom: 1px solid rgba(106, 216, 106, 0.6);
  box-shadow: inset 0 -13px 0 rgba(106, 216, 106, 0.38);
  height: 10px;
  display: inline;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
 .blog-title {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 300;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
 .blog-post {
  margin-bottom: 4rem;

  & a {
    text-decoration: none;
    opacity: .7;
  }

}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 1.5rem;
  word-wrap: break-word;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}


// Blog main

.blog-main {
  background-color:white;
  padding:20px;
}

//  Blog sidebar

.blog-sidebar {
  background-color: #F4F4F4;
}
/*
 * Footer
 */
 .blog-footer {
  padding: 2.5rem 0;
  margin-top:20px;
  color: white;
  background-color:#343A40;
  text-align: center;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.footer-links a{
  color:white;
  padding: 5px;
}

.list-unstyled {
  font-size:1.1rem
}

.blog-main-body {
  border-radius: 10px;
  margin-bottom:25px;
}

.rounded {
  background-color:white;
}

.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  display:inline-block;
  margin-right: 20px;
  flex-grow:1;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999!important;
}

.blog-buttons {
  display:flex;
  justify-content:flex-start;
  flex-wrap:wrap;
  align-content:center
}

.blogcrumb a {
  font-size: 1.25em;
  margin: 0px 10px 0px 10px;
}

// .blog-nav-perso {
//   font-size:large
// }


// comments card

.comment-card > .card {
  margin-top:15px;
}

.comment-attribution {
  font-size:.8em;
  font-style: italic;
}

// reading time style

.wordcount {
  align-items: center;
  border: 1px solid grey;
  border-radius: Calc((0.65rem + 0.5rem + 8px) / 2);
  display: inline;
  font-size: .8rem;
  font-weight:lighter;
  justify-content: center;
  padding: 0.25rem 0.8rem;
  i {
    font-size: 0.8rem;
    margin-right: 0.25rem;
    padding-top: 0.15rem;
  }
}

.button {
  display: inline;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 15px;
  // color: black;
  // line-height: 1;
  position: relative;
  font-weight: lighter;
  padding-right: 20px;
  &::after {
    content: '\2192';
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s;
  }
  &:hover {
    &::after {
      transform: translate(5px, -50%);
      opacity: 1;
    }
  }
}


.breadcrumb {
  margin-top:1rem;
}
